h1 {
    color: cornflowerblue;
}

body > * {
    margin: 50px auto;
}

.score-container {
    border-color: black;
    text-align:center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 408px;
    height: 400px;
    background-color: aquamarine;
}

.grid div {
    width: 100px;
    height: 100px;
    background-color: bisque;
    border: 1px solid;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
}

